html {
  font-size: 16px;

  @media (min-width: 2000px) {
    font-size: 18px;
  }

  @include breakpoint(xs-only) {
    font-size: 14px;
  }
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: $primaryText;
}

section.has-title {
  margin-top: 100px;
  margin-bottom: 40px;
  text-align: center;

  @include breakpoint(md-down) {
    margin-top: 100px;
  }

  @include breakpoint(xs-only) {
    margin-top: 60px;
  }
}

.content {
  margin: auto;
  max-width: 1500px;
  padding: 0 40px;

  @include breakpoint(xl-down) {
    margin: 0 40px;
    padding: 0;
  }

  @include breakpoint(xs-only) {
    margin: 0 25px;
  }
}

h1.default {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  font-size: 1.8rem;

  &::before, &::after {
    content: "";
    width: 80px;
    height: 3px;
    background: $blueGray;
    margin: 0 20px;

    @include breakpoint(lg-down) {
      margin: 0 10px;
    }
  }
}

h1.small {
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 2rem;
}

.btn {
  display: inline-block;
  width: initial;
  height: 50px;
  line-height: 50px;
  margin: 20px auto 0;
  padding: 0 30px;
  border-radius: 10px;
  font-family: "Patrick Hand", sans-serif;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  @include hover;

  span {
    font-size: 1.8rem;
    color: #fff;
  }

  &.salmon {
    background: $salmon;
  }

  &.red {
    background: $indianRed;
  }

  &.blue-gray {
    background: $blueGray;
  }

  &.empty {
    background: transparent;
    border: 2px solid $blueGray;

    span {
      color: $blueGray;
    }
  }
}

.justify-left {
  justify-content: left;
}

.justify-center {
  justify-content: center;
}

.justify-right {
  justify-content: right;
}

.nowrap {
  white-space: nowrap;
}

// MARGINS

.ml-10 {
  margin-left: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.ml-20 {
  margin-left: 20px;
}

.mr-20 {
  margin-right: 20px;
}


