html {
  font-size: 16px;

  @media (min-width: 2000px) {
    font-size: 18px;
  }

  @include breakpoint(xs-only) {
    font-size: 14px;
  }
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: $primaryText;
}

.content {
  margin: auto;
  max-width: 1500px;
  padding: 0 40px;

  @include breakpoint(xl-down) {
    margin: 0 40px;
    padding: 0;
  }

  @include breakpoint(xs-only) {
    margin: 0 25px;
  }
}

.btn {
  width: 200px;
  height: 40px;
  border-radius: 20px;
  line-height: 40px;
  margin: 20px auto 0;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  filter: brightness(100%);
  transition: filter 0.5s;

  span {
    font-size: 1.2rem;
    font-weight: 600;
  }

  &.salmon {
    background: $salmon;

    span {
      color: #fff;
    }
  }

  &:hover {
    filter: brightness(130%);
    transition: filter 0.5s;
  }
}

.justify-left {
  justify-content: left;
}

.justify-center {
  justify-content: center;
}

.justify-right {
  justify-content: right;
}

// MARGINS

.ml-10 {
  margin-left: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.ml-20 {
  margin-left: 20px;
}

.mr-20 {
  margin-right: 20px;
}
