@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  src: url('/fonts/Montserrat-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  src: url('/fonts/Montserrat-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: italic;
  src: url('/fonts/Montserrat-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  font-style: italic;
  src: url('/fonts/Montserrat-SemiBoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'Patrick Hand';
  font-weight: 400;
  src: url('/fonts/PatrickHand-Regular.woff') format('woff');
}
